.main{
    position: absolute;
       top:0;
       left: 0;
    display: block;
        background-color: red;
        width:50%;
        height: 100vh;
       
}
.subMain{
    position: absolute;
       top:0;
       right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 50%;
    height: 100vh;
}
.loginBtn,.registerBtn{
    background-color: transparent;
    border:none;
    
}
.student_id{
    display: block;
    margin: auto;

}

.companyLogo{
display: block;
margin: auto;

}
