.main{
    position: absolute;
       top:0;
       left: 0;
    display: block;
        background-color: red;
        width:50%;
        height: 100vh;
       
}
.subMain{
    position: absolute;
       top:0;
       right: 0;
    display: block;
    right: 0;
    background-color: green;
    width: 50%;
    height: 100vh;
}
.loginBtn,.registerBtn{
    background-color: transparent;
    border:none;
    
}
.student_id{
    margin-left: 15vw;
}
.student_id > img{
}